body {
  background-color: #050210;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-image: linear-gradient(to right, #fb5dad, #55fb9f, #b97aff);
  box-shadow: 0 0 10px #fb5dad, 0 0 20px #fb5dad, 0 0 30px #55fb9f, 0 0 40px #55fb9f, 0 0 50px #b97aff, 0 0 60px #b97aff;
  animation: rotate 1s infinite linear;
  box-shadow: 0 0 10px #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(4);
}

.inner-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background-color: #0a0422;
  border-color: #0a0422 ;
  border-style: solid; ;
}


.pulsate-circle {
  background-color: #130b30;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.01);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation: pulsate 1s linear infinite;

  animation-fill-mode: forwards;
}


@keyframes pulsate {
  0% {
    transform: translate(-50%, -50%) scale(0.01);
    opacity: 0.1;
  }
  25% {
    transform: translate(-50%, -50%) scale(0.50);
    opacity: 0.75;
  }
  50% {
    transform: translate(-50%, -50%) scale(0.75);
    opacity: 0.75;
  }
  75% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.5;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.1;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(4);
    box-shadow: 0 0 10px #fff;
  }
  25% {
    box-shadow: 0 0 20px #fb5dad;
  }
  50% {
    box-shadow: 0 0 20px #55fb9f;
  }
  75% {
    box-shadow: 0 0 20px #b97aff;
  }
  100% {
    transform: rotate(360deg) scale(4);
    box-shadow: 0 0 10px #fff;
  }
}
